@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --primary-rgb: 0, 107, 153;    /* #006b99 */
    --secondary-rgb: 0, 159, 226;  /* #009fe2 */
    --neutral-rgb: 248, 248, 248;  /* #f8f8f8 */
    --green-rgb: 40, 167, 69; 

    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem
  }
  .dark {


    --primary-rgb: 0, 71, 102;     /* #004766 */
    --secondary-rgb: 0, 119, 179;  /* #0077b3 */
    --neutral-rgb: 18, 18, 18;     /* #121212 */
    --accent-green-rgb: 30, 125, 50; /* #1e7d32 */
    --text-rgb: 240, 240, 240;  

    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%
  }
  h1 {
    font-size: 2.5rem; /* Adjust as needed */
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.aboutUs{
  background: linear-gradient(0deg, rgb(var(--secondary-rgb)), rgba(var(--primary-rgb), 0.7) 87.65%), url("/team.jpg");
  background-blend-mode: multiply;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.hero{
  background: linear-gradient(0deg, rgb(var(--secondary-rgb)), rgba(var(--primary-rgb), 0.7) 87.65%), url("/consulting.webp");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.note{
  position: absolute;
  bottom: 0;
  right: 20px;
  background: linear-gradient(180deg, rgb(var(--secondary-rgb)) 65.5%, rgb(var(--primary-rgb)));
}

.mission{
  background-image: linear-gradient(341deg, rgba(var(--secondary-rgb), 0.9), rgb(var(--primary-rgb)) 87.65%), url("https://cdn.prod.website-files.com/667295abf91773cc3aed5ac3/66951108ef031a67f9cdd797_BAU-Imagebild-Plan-Stift-Laptop-IMG_0028-sw.webp");
  background-blend-mode: multiply;
}

.edge{
  position: relative;
}

.edge::before{
  width: 0;
  height: 0;
  border-bottom: 70px solid hsl(var(--background));
  border-right: 70px solid transparent;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}

.whythis{
  position: relative;
}
.whythis::after{
  width: 0;
  height: 0;
  border-top: 70px solid hsl(var(--background));
  border-right: 70px solid transparent;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.whythis::before{
  width: 0;
  height: 0;
  border-bottom: 70px solid hsl(var(--background));
  border-left: 70px solid transparent;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}
.imagesEdge{
  position: relative;
}
.imagesEdge::after{
  width: 0;
  height: 0;
  border-top: 70px solid oklch(0.928 0.006 264.531);
  border-right: 70px solid transparent;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.imagesEdge::before{
  width: 0;
  height: 0;
  border-bottom: 70px solid oklch(0.928 0.006 264.531);
  border-left: 70px solid transparent;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}

.circleContainer{
  position: relative;
  margin-top: 100px;
}
.circleContainer .circle{
  height: 1550%;
  width: 120%;
  left: -10%;
  border-radius: 0 0 50% 50%;
  background-color: white;
  z-index: 1;
  position: absolute;
  box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
}

.contact {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141516;
    position: relative;
}

.contact .body {
    padding-top: 200px;
    width: 100%;
    max-width: 1800px;
    background-color: #141516;
}

.contact .body .title {
    border-bottom: 1px solid rgb(134, 134, 134);
    padding-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
}

.contact .body .title span {
    display: flex;
    align-items: center;
}

.contact .body .title span .imageContainer {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.contact .body .title span .imageContainer img {
    object-fit: cover;
}

.contact .body .title span h2 {
    margin-left: 0.3em;
}

.contact .body .title h2 {
    font-size: 5vw;
    margin: 0px;
    font-weight: 300;
}

.contact .body .title .buttonContainer {
    position: absolute;
    left: calc(100% - 400px);
    top: calc(100% - 75px);
}

.contact .body .title .button {
    width: 180px;
    height: 180px;
    background-color: #455CE9;
    color: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.contact .body .title .button p {
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    z-index: 2;
    position: relative;
}

.contact .body .title svg {
    position: absolute;
    top: 30%;
    left: 100%;
}

.contact .body .nav {
    display: flex;
    gap: 20px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.contact .body .info {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    padding: 20px;
}

.contact .body .info div {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.contact .body .info div p,
.contact .body .info div h3 {
    margin: 0px;
    padding: 2.5px;
    cursor: pointer;
}

.contact .body .info div p::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: white;
    display: block;
    margin-top: 2px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s linear;
}

.contact .body .info div p:hover::after {
    width: 100%;
}

.contact .body .info div span {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact .body .info div h3 {
    color: grey;
    cursor: default;
    font-weight: 300;
    font-size: 1em;
}
